# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/gbauktio/public_html/socket"
PassengerBaseURI "/app"
PassengerNodejs "/home/gbauktio/nodevenv/public_html/socket/12/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
